
.idea/

UHM_models

__pycache__/

experiments/

outputs/*

!outputs/proposed/

vertices_of_faces_from_UHM

precomputed/

precomputed_faces/

vertices_of_bodies_from_STAR/

meshes2fit/

precomputed_bodies/

precomputed_cvpr/
